.header {
  background: linear-gradient(to right, #4b0082, #7f33cc);
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 8px;
}

.search-container {
  width: 400px;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-input::placeholder {
  color: white;
}

a {
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  transition-duration: 200ms;
  color: white;
}

a:active {
  color: #8226e4;
}
