.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
  width: 50vw;
  gap: 8px;
}

p {
  font-size: 24px;
  font-weight: 500;
  color: #4b0082;
}

button {
  font-size: large;
  padding: 30px;
}
