.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.loader {
  width: 100vw;
  top: 10;
  left: 0;
  position: absolute;
}

.paginator {
  margin-top: 20px;
  background-color: transparent;
}
